{% extends 'layoutloggedout.twig' %}

{% block body %}

	<h1 class="wlux-static-info">{{ pageData.title }}</h1>
	<p class="wlux-static-info">This is the homepage that appears when the researcher is not logged in.</p>
{% endblock %}
