{% extends 'layoutreset.twig' %}

{% block body %}

<div class="container"> 
    
    <div><!--reset part-->
       <form id ="ResetPassword">
            <h1>Reset Password</h1> <br>
            <input class="span1" type="text" placeholder="New Password"> <br><br>
            <input class="span2" type="text" placeholder="Confirm Password"> <br /><br />
            <button type="submit" class="btn btn-default" id="ResetBtn">Submit</button>
        </form>
    </div>
</div>

{% endblock %}