{% extends 'layoutloggedout.twig' %}

{% block body %}

	<h1 class="wlux-static-info">{{ pageData.title }}</h1>
	<p class="wlux-static-info">Static text for the WLUX Tutorial page needs to go here.</p>
{% endblock %}
