    <footer class="wlux-static-footer">
    	<div class = "container">
        	<div id = "ahcr">
				<span class = "ahcrin"><a href="#where1">About Us</a></span>
				<span class = "ahcrin"><a href="#where2">Help</a></span>
				<span class = "ahcrin"><a href="#where3">Contact Us</a></span>
				<span class = "ahcrin"><a href="#where4">Research</a></span>
			</div>

			<div id = "announcement">
				<div>&copy WeblabUX, University of Washington</div>
				<div>Internet Based User Experience Lab</div>
			</div>
		</div>
    </footer>