  <div class="container text-center">
    <p><a href="">About Us</a> | <a href="">Help</a> | <a href="">Contact Us</a> | <a href="">Research</a></p>
    <p>&copy; WeblabUX, University of Washington <br>Internet Based User Experience Lab</p>
  </div>