{% extends 'layoutloggedin.twig' %}

{% block body %}


<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
  <!-- Form Header Panel -->
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-4">
          <h3>Test Study [#]</h3>
        </div>
        <div class="col-md-8">
          <!-- Progress to create Study-->
          <p>
          <ul class="nav nav-pills">
            <li><a href="general">General</a></li>
            <li class="active"><a href="variables">Variables</a></li>
            <li><a href="protocol">Protocol</a></li>
            <li><a href="scheduling">Scheduling</a></li>
          </ul>
        </p>
        </div>
      </div>
    </div>
  <!-- Form Content Panel -->
    <div class="panel-body panel-heading">
		<form class="form-horizontal form-group" role="form">
			<!-- conditions -->
			<div id="cs-conditions" class="col-md-4 pull-right" style="height: 350px;">
				<label class="control-label">Conditions</label>
				<div id="cs-conditions-inner">
					<div id="cs-conditions-inner-content">
						<ul>
							<li>Arial, Black</li>
						</ul>
					</div>
				</div>
			</div>
			
			<div id="cs-left-container" class="col-md-8">
				<div class="cs-row">
					<div class="cs-column">
						<label class="control-label">Variable</label>
					</div>
					<div class="cs-column">
						<label class="control-label">Variations</label>
					</div>
					<div class="cs-column">
						<label class="control-label">CSS PATH</label>
					</div>
				</div>
				
				<div id="variable-1" class="cs-var-container">
					<div>
						<div class="cs-column">
							<input type="text" class="form-control input-box" placeholder="Sample Font">
						</div>
						<div class="cs-row">
						<div class="cs-variables-extrabuttons"><span class="glyphicon glyphicon-remove"></span></div>
						<div class="cs-column">
							<input type="text" class="form-control input-box" placeholder="Arial">
						</div>
						<div class="cs-column">
							<input type="text" class="form-control input-box" placeholder="/font-arial.css">
						</div>
						</div>
					</div>
					
					<div class="cs-extrarow">
						<div style="float: right; width: 50%;">
							<a class="cs-addvar">+ add variation</a>
						</div>
						<div style="margin-left: 8%;">
							<a class="cs-delvar ">Delete variable</a>
						</div>
					</div>
				</div>
				
				<div id="tempvar" class="cs-var-container">
					<div>
						<div class="cs-column">
							<input type="text" class="form-control input-box" placeholder="Sample Font">
						</div>
						<div class="cs-row">
						<div class="cs-variables-extrabuttons"><span class="glyphicon glyphicon-remove"></span></div>
						<div class="cs-column">
							<input type="text" class="form-control input-box" placeholder="Arial">
						</div>
						<div class="cs-column">
							<input type="text" class="form-control input-box" placeholder="/font-arial.css">
						</div>
						</div>
					</div>
					
					<div class="cs-extrarow">
						<div style="float: right; width: 50%;">
							<a class="cs-addvar">+ add variation</a>
						</div>
						<div style="margin-left: 8%;">
							<a class="cs-delvar ">Delete variable</a>
						</div>
					</div>
				</div>
			
				
				<!-- Form Buttons -->
				<div class="cs-buttons text-right">
					<button type="button" id="addvariable" class="btn btn-default">
						<span class="glyphicon glyphicon-plus"></span> Add Variable
					</button>  
					<button type="button" id="isEditMode" class="btn btn-default">
						<span class="glyphicon glyphicon-floppy-save"></span> Save
					</button>       
				</div>
			</div>
			
			
        </form>
        </div>


      </form>
    </div>
  </div>
  </div>
</div>

{% endblock %}