a, .btn {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

#main-container {
	min-height: 600px;
}

footer {
	padding: 2% 0;
	background-color: #f5f5f5;
}

#user-name > a {
	color: #ffffff;	
}

.navbar-form {
	width: 200px;
	margin-top: 13px;
}

/* Extra Small Input Box For Navigation Bar*/
.input-xs {
	height: 22px;
	padding: 5px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

/* WebLabUX Logo */
.navbar-brand {
}

.weblabux-logo {
	color: #ffffff;
	font-size: 20px;	
}

/* Navigation */
.navbar {
	background-color: #102288;	
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: #ffff00;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color: #333333;
	background-color: #ffff00;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #ffff00;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
	font-weight: bold;
}

/* Extra Small Screen */
@media (max-width: 767px) {
	body {
	  padding-top: 20%;
	}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #ffffff;
		font-weight: bold;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #ffff00;
	}
}

/* Small Screen */
@media (min-width: 768px) and (max-width: 991px) {
	body {
	  padding-top: 12%;
	}
}

/* Medium Screen */
@media (min-width: 992px) and (max-width: 1199px) {
	body {
	  padding-top: 10%;
	}

}

/* Large Screen */
@media (min-width: 1200px) {
	body {
	  padding-top: 8%;
	}
}

.web-logo-style {
	font-weight:bold;
}

.lab-logo-style {
	color: #ffff00;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #102288;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

/* All Studies */

#dashboard-total-studies {
	font-weight: bold;
	font-size: 30px;
}

.dashboard-icons {
	font-size: 20px;
}

.glyphicon-padding-right {
	padding-right: 10px;
}

/* 0 Studies Tutorial */
#zs-body {
	padding-top: 0;
}
.zs-container {
	margin-top: 100px;
	height: 850px;
	width: 1260px;
	background-image: url('/wluxui/templates/dynamicpages/tutorial.jpg');
	background-position: -50px -73px;
	background-size: 1370px 850px;
	background-repeat: no-repeat;
}
#zs-submit {
	background-image: url('/wluxui/templates/dynamicpages/tutorialbutton.jpg');
	background-position: center;
	border: 4px solid white;
	border-radius: 3px;
	width: 162px;
	height: 45px;
	position:relative;
	left: 645px;
	top: 217px;
}
#zs-submit:hover {
	border: 5px solid white;
	border-radius: 10px;
}